<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<center>
		<h1>Home Page</h1>
		{% if request.user.is_authenticated %}
			<h2>Welcome to your page</h2>
			<h3>{{request.user.first_name}}</h3>
			<ul>
				<li>F.Name: {{user.first_name}}</li>
				<li>L.Name: {{user.last_name}}</li>
				<li>email: {{user.email}}</li>
				<li>isActive: {{user.is_active}}</li>
				<li>isStaff: {{user.is_staff}}</li>
				<li>isSuperUser: {{user.is_superuser}}</li>
			</ul>
		{% else %}
			<h3>Login</h3>
			<p>
				<a href="{% url 'main:login' %}">Login</a>
			</p>
		{% endif %}
		
	</center>
	
</body>
</html>