@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/gudea/v10/neIFzCqgsI0mp9CI_oU.ttf) format('truetype');
}
@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/gudea/v10/neIIzCqgsI0mp9gz25WBFqk.ttf) format('truetype');
}
/* variables */
* {
  margin: 0;
  padding: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
input,
button {
  outline: none;
}
html {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: #2980b9;
  color: #000;
  font-family: "Gudea", arial, sans-serif;
  font-size: 16px;
}
.container {
  margin: 50px 0 30px;
  position: relative;
}
/* formpage */
.error {
  display: none;
  color: red;
  font-size: 14px !important;
  margin: 14px 0 0!important;
  position: absolute;
  top: 0;
  right: 0;
}
.error.show {
  display: block;
}
.formPage {
  background-color: #fff;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  margin: 0 auto;
  max-width: 320px;
  position: relative;
}
.formCtlBlock {
  font-size: 0;
  position: relative;
  z-index: 1;
}
.formCtlBlock a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  width: 50%;
  transition: all 300ms;
}
.formCtlBlock a:hover,
.formCtlBlock a.active {
  transform: translateY(2px);
}
.formCtlBlock a span,
.formCtlBlock a i {
  display: inline-block;
  vertical-align: middle;
}
.formCtlBlock a i {
  font-size: 20px;
  margin-right: 6px;
}
.formCtlBlock a span {
  padding: 10px 0;
}
.formCtlBlock a.loginBtn {
  background-color: #1abc9c;
}
.formCtlBlock a.registerBtn {
  background-color: #e67e22;
}
.formBlock {
  background-color: #fff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 20px;
  display: none;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.formBlock .form-group {
  -webkit-animation: left-bounce 600ms both;
          animation: left-bounce 600ms both;
  -webkit-backface-visibility: none;
          backface-visibility: none;
  position: relative;
}
.formBlock .form-group.alignRight {
  -webkit-animation: fadeOut 300ms both;
          animation: fadeOut 300ms both;
}
.formBlock.active {
  display: block;
}
.formBlock.active .form-group:nth-child(2) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.formBlock.active .form-group:nth-child(3) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.formBlock.active .form-group:nth-child(4) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.formBlock.active .form-group:nth-child(5) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.formBlock.active .form-group.alignRight {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.formBlock p {
  margin: 15px 0;
  font-size: 18px;
}
.formBlock.login button {
  background-color: #16a085;
}
.formBlock.login button:hover {
  background-color: #1abc9c;
}
.formBlock.register button {
  background-color: #e67e22;
}
.formBlock.register button:hover {
  background-color: #f39c12;
}
.alignRight {
  text-align: right;
}
input {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -280px 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  border-bottom: solid 1px #1abc9c;
  color: #0e6252;
  display: block;
  margin: 15px 0;
  padding: 10px 0;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  width: 100%;
}
input:focus {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
input:focus::-webkit-input-placeholder {
  font-size: 14px;
  transform: translateY(-20px);
  visibility: visible;
}
button {
  box-shadow: none;
  border: 0;
  color: #fff;
  padding: 8px 20px;
}
/* keyframes */
@-webkit-keyframes left-bounce {
  from {
    transform: translateX(300px);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-10px);
  }
  90% {
    transform: translateX(10px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes left-bounce {
  from {
    transform: translateX(300px);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-10px);
  }
  90% {
    transform: translateX(10px);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
